* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v7_194 {
  width: 1440px;
  height: 1024px;
  background: url("../images/v7_194.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v8_203 {
  width: 256px;
  height: 102px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 885px;
  left: 62px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v7_195 {
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 15px;
  left: 16px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 170px;
  opacity: 1;
  text-align: left;
}
.v8_200 {
  width: 683px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 243px;
  left: 54px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 52px;
  opacity: 1;
  text-align: left;
}
.v8_202 {
  width: 268px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 905px;
  left: 128px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 52px;
  opacity: 1;
  text-align: left;
}
